name: Deploy

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy

    steps:
      - name: Checkout from GitHub
        uses: actions/checkout@master
        
      - name: Use JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
          
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_ACCESS_KEY_SECRET }}
          aws-region: us-east-2
          
      - name: Authenticate with CodeArtifact
        run: echo "CODEARTIFACT_TOKEN=`aws codeartifact get-authorization-token --domain lunarclient --domain-owner 556596233875 --query authorizationToken --output text`" >> $GITHUB_ENV
        
      - name: Build with Maven
        run: |
          echo "<settings><servers><server><id>lunarclient-public</id><username>aws</username><password>${CODEARTIFACT_TOKEN}</password></server></servers></settings>" > ~/.m2/settings.xml
          mvn clean deploy -B
